
header {
    height: 62px;
    background-color: #fff;
    border-bottom: 2px solid #e8e8e8;
    display: flex;
    justify-content: space-between;
}
header > .header-left > img {
    border-radius: 50%;
    height: 100%;
    background-size: cover;
}
header > .header-gap {
    flex: 1 1 auto;
}
header > .header-right {
    font-size: 14px;
    font-family: "Ubuntu", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 700;
    line-height: 62px;
}
header > .header-right > ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: block;
}
header > .header-right > ul > li {
    display: inline-block;
}
header > .header-right > ul > li > a{
    color: black;
    padding: 0 7px;
}